html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

body {
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    color: black;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1rem;
}

a { 
    color: rgb(36, 36, 191);
}
a:hover {
    color: rgb(189, 19, 84);
}

h1 {
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

h4 {
    font-size: 1rem;
    font-weight: 300;
}

#page-header {
    max-width: 100vw;
    height: 25%;
    padding: 2% 2%;
    background-color: whitesmoke;
}

#main-nav {
    color: black;
}

ul.a {
    list-style-type: none;
}

#hero {
    align-items: center;
    text-align: center;
    padding: 5%;
    max-width: 100vw;
    height: 200px;
    margin: 0;
    background-color: rgba(0, 0, 0, 50);
    background-image: url(/images/illustrationbackground.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.display-text {
    font-size: 3rem;
    color: white;
}

#hero-button {
    border-radius: 20px;
    padding: 10px;
    border: 0px;
    font-size: 2rem;
}

#resume-main {
    margin: auto;
    padding: 4% 4%;
}